
header {
        color: gray;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        background-color: antiquewhite;

}

footer {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color: aquamarine;
}

ul, ol {
        list-style: none;
}

a {
        text-decoration: none;
        color: black;
}